
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">ĐẶT HÀNG THÀNH CÔNG</h2>

<div class="spacing"></div>
<div class="comback-link">
    <span class="fas fa-angle-left"></span>
    <a href="/Cart/Confirm" class="comback">Quay trở về trang chủ</a>
</div>
<style>
.spacing{
    margin-bottom:30px;
}
.comback-link{
    padding-left:100px;
}
.comback{
    font-size:16px;
    font-weight:600;
}
</style>